@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/** RESET */
*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
}

/** GENERAL */
h1, h2 {
    color: black;
    text-align: center;
    padding: 10px;
}

h3 {
    margin: 10px 0;
}

h4 {
    text-align: center;
}

a {
    text-decoration: none;
}

.side li {
    padding: 10px;
    width: 200px;
    border-bottom: 1px solid black;
}

.side a {
    color: black;
}


button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
    background-color: black;
    color: white;
    transition: font-size 0.5s;
    cursor: pointer;
}

button:hover {
    font-size: 15px;
}

/** FORMULAIRE */

form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

input, select {
    margin: 10px 0;
    padding: 5px;
    background: white;
}

input:focus, select:focus {
    border-color: white;
}

table {
    margin: auto;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-color: rgb(68, 104, 104);
}

th, td {
    background-color: antiquewhite;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    background: rgba(217, 217, 217, 0.29);
}

/** IMAGE */
img {
    width: 300px;
}

.col-bet img {
    margin: 20px;
    width: 400px;
}

.baniere {
    position: relative;
    width: 100%;
}

.baniere img {
    width: 100%;
    height: 300px;
}

.baniere h2 {
    color: white;
}

.bg {
    background-image: url('/assets/images/connexion.jpg');
    background-size: cover;
}

/** CONNEXION **/
.connexion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.password-info {
    display: none;
}

#pass:focus + .password-info {
    display: block;
}

.border {
    border-left: 1px solid black;
    padding-left: 20px;;
}

/** BUTTON **/ 
.btn-add {
    width: 100px;
    height: 40px;
    background-color: blue;
    border: none;
    padding: 3px;
    margin: 1px;
}

.btn-edit {
    width: 100px;
    height: 40px;
    background-color: coral;
    border: none;
    padding: 3px;
    margin: 1px;
}

.btn-delete {
    width: 100px;
    height: 40px;
    background-color: brown;
    border: none;
    padding: 3px;
    margin: 1px;
}

/** PAGINATION **/
.pagination {
    width: 100%;
} 

.pagination .pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.pagination .pagination-list a{
    color: #333;
}

.pagination .pagination-list a:hover{
    color: #78b1b1;
}

.current{
    color: #78b1b1 !important;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

/** PRESENTATION RECETTE **/
.presentation {
    width: 500px;
    padding: 20px;
}

.commentaire {
    padding-bottom: 30px;
    max-width: 75%;
}

.commentaire-details {
    padding: 20px 10px;
    border-bottom: 1px solid black;
}

/** DISPLAY **/ 
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-bet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/** CONTAINER **/ 
.content {
    padding: 50px 20px;
    margin-left: 250px; 
    min-height: 100vh;
}

.container {
    padding: 50px 0px;
    min-height: 100vh;
}
.section {
    min-height: calc(100vh - 150px);
}

.recette {
    min-width: 800px;
    border-bottom: 1px solid black;
}

.block {
    margin: 10px auto;
    width: 400px;
    padding: 0px;
    border-bottom: 1px solid black;
}

/** ALERT **/
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

.alert-success {
    background-color: aquamarine;
}

.alert-danger {
    background-color: coral;
}

.success {
    color: aquamarine;
    border-color: aquamarine;
}

.danger {
    color: coral;
    border-color: coral;
}

/** MESSAGE FLASH **/
.flash-message {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: none; /* Par défaut, le message est caché */
}

/** NAVIGATION **/
.visible {
    display: none;
}

#navbar {
    position: absolute;
    width: 100%;
    display: flex;
    background-color: rgb(68, 104, 104);
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    z-index: 1;
}

.logo {
    color: white;
}

.nav-item {
    padding: 0 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav-item:hover {
    text-decoration: underline white;
    transform: scale(1.1);
    text-shadow: white 1px 0 10px;
  
}

.nav-item:active {
    color: grey;
}

.active {
    text-decoration: underline !important;
}

/* ADMINISTRATION */
/* NAVBAR */
.admin-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgb(68, 104, 104);
    box-shadow: 1px 2px 10px rgb(68, 104, 104);
    padding: 0 10px;
    margin-bottom: 30px;
}

.admin-nav-item {
    display: flex;
    align-items: center;
}
.admin-nav-item, ul {
    list-style: none;
}

.admin-nav-link, a {
    color: white;
    padding: 0 10px;
}

.admin-nav-link:hover {
    text-decoration: underline rgba(104, 213, 191, 0.653);
    transform: scale(1.1);
}

/** NAVIGATION ACCOUNT **/ 
.avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.sidebar {
    width: 250px;
    position: absolute;
    left: 0;
    background-color: #44686880;
    padding: 60px 20px;
    color: #fff;
    min-height: 100%;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.sidebar a:hover {
    color: #446868;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(68, 104, 104) ;
}

.footer p {
    color: white;
}

/** MEDIA QUERIES */ 

@media screen and (max-width: 900px) {
    .flex {
        flex-direction: column;
    }
    
    .recette {
        min-width: 400px;
    }

    .col-bet img {
        width: 450px;
        margin: 10px auto;
    }
    
    .col-bet div {
        width: 450px;
    }
    
    .hidden {
        display: none;
    }
    
    .sidebar {
        width: 80px;
    }
    
    .sidebar .avatarContainer, h4, span {
        display: none;
    }
    
    .sidebar .side li {
        padding: 20px 0;
        width: auto;
    }
    
    .content {
        margin-left: 80px;
        padding-top: 90px;
    }
    
}

@media screen and (max-width: 600px) {
    .recette {
        min-width: 300px;
    }
    .col-bet {
        padding-top: 0;
        width: 370px;
    }

    .col-bet img {
        width: 340px;
        margin: 10px;
    }

    .col-bet div {
        width: 340px;
    }

    .presentation {
        width: 370px;
    }

    .container {
        padding-top: 70px;
    }

    .content {
        padding: 0;
        padding-top: 90px;
        margin-left: 70px;
    }

    .block {
        width: 280px;
        padding: 0;
    }

    .sidebar {
        width: 60px;
        padding: 100px 10px;
    }

}

@media screen and (max-width: 1060px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}